body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #b4c2c2; /* Cambia el color de fondo según tus preferencias */
    padding: 10px;
    text-align: center;
}

img {
    max-width: 100px;
    height: 100px;
}
#content {
    max-width: 600px;
    margin: 0 auto;
}

.categoria {
    cursor: pointer;
    margin: 10px;
    padding: 8px;
    background-color: #eee;
    border-radius: 5px;
}

.subcategoria {
    display: none;
    margin-top: 10px;
}