.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 10vh;
  margin-top: 20px;
  padding-top: 20px;
  background-color:transparent ;
 
}

.input-group {
  position: fixed;
  width: 60%; /* Hacer que la barra de búsqueda se extienda a lo ancho */
 
  margin-bottom: 50%;
  z-index: 2;

}
@media screen and (max-width: 768px) {
  .input-group {
    width: 60%;
    margin-bottom: 20px;
  
  }
}


  


/* Estilo del botón */
.btn.btn-outline-secondary {
  position: fixed;  
  border: 1px solid #6c757d; /* Ajusta el color del borde según tus preferencias */
  margin-left: 1%; /* Ajusta la cantidad de espacio a la izquierda del botón */
  z-index: 2;
  padding: 6px 12px;
}

/* Ajustes adicionales para pantallas más pequeñas */
@media screen and (max-width: 768px) {
  .btn.btn-outline-secondary {
    margin-left: 1%; /* Ajusta el espacio a la izquierda para pantallas más pequeñas si es necesario */
    width: auto; /* Hacer que el botón ocupe el ancho completo en pantallas más pequeñas */
  
  }
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;
  justify-content: space-between;
  overflow-x: auto;
}

.card {
  flex: 0 0 calc(30% - 20px);
  min-width: 200px;
  border: 1px solid #1b1414;
  padding: 10px;
  margin: 1%;
  box-sizing: border-box;
  margin-bottom: 60px;
}
@media screen and (max-width: 1200px) {
  .card{
    flex: 0 0 calc(100% - 20px);
  }
}

@media screen and (max-width: 768px) {
  .card {
    flex: 0 0 calc(100% - 20px);
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  padding-bottom: 20px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .button-container {
    flex-direction: column;
    align-items: center;
  }
}
.btn-container {
  position: fixed;
  bottom: 80px;
  right: 10px;
  z-index: 2;
  border:1px solid #1b1414;
  padding: 1px 3px; /* Ajusta según tus necesidades */
  background-color: #fff; /* Ajusta el color de fondo según tus necesidades */
  border-radius: 1px; /* Ajusta según tus necesidades */
}
@media screen and (max-width: 768px) {
  .btn-container {
    bottom: 80px;
    right: 10px;
    padding: 1px 2px;
    border-radius: 1px;
  }
}
.carrito-btn {
  position: fixed;
  bottom: 820px;
  right: 20px;
  z-index: 4; /* Ajusta según sea necesario para que el botón esté sobre otros elementos */
  background-color: #fff; /* Ajusta el color de fondo según tus necesidades */
  border: 1px solid #1b1414; /* Ajusta el estilo del borde según tus necesidades */
  border-radius: 50%; /* Hacer que el botón sea circular */
  padding: 10px; /* Ajusta el espacio dentro del botón según tus necesidades */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .carrito-btn {
    bottom: 580px; /* Ajusta según sea necesario para pantallas más pequeñas */
    right: 20px;
    font-size: 16px; /* Ajusta el tamaño del ícono para pantallas más pequeñas */
  }
}

/* Estilos para pantallas aún más pequeñas */
@media screen and (max-width: 576px) {
  .carrito-btn {
    bottom: 580px; /* Ajusta según sea necesario para pantallas aún más pequeñas */
    right: 10px;
    font-size: 14px; /* Ajusta el tamaño del ícono para pantallas aún más pequeñas */
  }
}


.carrito-btn i {
  font-size: 20px; /* Ajusta el tamaño del ícono según tus necesidades */
  color: #1b1414; /* Ajusta el color del ícono según tus necesidades */
}

.carrito-btn .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #007bff; /* Ajusta el color de fondo del contador según tus necesidades */
}
.carrito-content {
  position: fixed;
  top: 30%; /* Ajusta la distancia desde la parte superior de la ventana */
  right: 100px; /* Ajusta la distancia desde el borde derecho de la ventana */
  z-index: 2; /* Ajusta según sea necesario para que esté sobre otros elementos */
  background-color: #fff; /* Ajusta el color de fondo según tus necesidades */
  border: 1px solid #ccc; /* Ajusta el estilo del borde según tus necesidades */
  border-radius: 4px; /* Ajusta el radio del borde según tus necesidades */
  padding: 10px; /* Ajusta el espacio interior según tus necesidades */
}
