.container {
    width: 100%;
    background-color: #87CEEB; /* Color celeste */
  }
  
  .navbar {
    width: 100%;
    background-color: #87CEEB; /* Color celeste */
  }
  .logo {
    display: block;
    margin: auto;
  }