.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #87CEEB; /* Color celeste */
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #87CEEB; /* Color celeste */
   z-index: 3;
  
  }
  .logo {
    width: 80px;
    display: block;
    margin: auto;
  }
  @media screen and (max-width: 768px) {
    .navbar {
      /* Puedes agregar estilos específicos para pantallas más pequeñas aquí */
    }
  
    .logo {
      width: 80px; /* Ajusta el tamaño del logo para pantallas más pequeñas */
    }
  }